.timeline-select-description
{
	max-width : 22rem;
}

.timeline-select-label
{
	transition: color 0.5s ease;
}

.timeline-select-monthly-label
{
	&.yearly-color
	{
		color : $grey;
	}
}

.timeline-select-yearly-label
{
	color : $grey;

	&.yearly-color
	{
		color : $yearlyColor;
	}
}