$monthlyColor : #50C1DC;
$yearlyColor : #676CBC;

$grey : #95929D;
$border-grey : #E8E9ED;

$blue-button-bg : #F1FCFF;
$blue-button-border : #81D3E7;

$purple-button-bg : #F0F0FA;
$purple-button-border : #9498D3;